<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>

    

    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
    

    <!--<style>-->
    <!--@media (min-width: 768px) {-->
    <!--header.masthead {-->
    <!--padding-top: 12rem;-->
    <!--padding-bottom: 12rem;-->
    <!--}-->
    <!--header.masthead h1 {-->
    <!--font-size: 3rem;-->
    <!--}-->
    <!--}-->
    <!--</style>-->
</head>

<body>
    {% include 'home_test/navbar.html' %}
    <!--     {{ all_users }}
    {{ unsolved }} -->
    <div class="container">
        <div class="row" style="padding:50px;">
            <div class="col-sm-8">
                {% for users in all_users %}
                <div class="card text-center" style="margin:.5em; box-shadow: 2px 2px darkgrey;">
                    <div class="card-header" style="text-align: left;">
                        <strong>{{ pcode }}</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-title" style="text-align:left;">{{ users.user.user.username }}</p>
                        <!-- <p class="card-title" style="text-align:left;"></p> -->
                        <!-- <div id="firechat-wrapper">
                            <button type="button" class="btn btn-grey" aria-label="Left Align"                    onclick='startchat("{{ request.user }}")' style="text-align: right;">Chat
                        </button>                        
                        </div> -->
                        
                        <!-- <p class="card-text"></p> -->
                    </div>
                    <!-- 
                <div class="card-footer text-muted">
                </div> -->
                </div>
                {% endfor %}
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Unsolved
                    </div>
                    {% for all_unsolved in unsolved %}

                    <ul class="list-group list-group-flush">
                        <a href=/home/problemsearch/{{ all_unsolved.1 }}/> <li class="list-group-item">{{ all_unsolved.0 }}</li></a>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- <form method="post">
            {{ fform.as_p }}
        </form> -->
    </div>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!--     <script type="text/javascript">
        var config = {
            apiKey: "AIzaSyCJJCe0Fk4hZGptufrcJeXWQxE71YyprdQ",
            authDomain: "firechat1-1eee6.firebaseapp.com",
            databaseURL: "https://firechat1-1eee6.firebaseio.com",
            projectId: "firechat1-1eee6",
            storageBucket: "firechat1-1eee6.appspot.com",
            messagingSenderId: "384890947597"
        };
        firebase.initializeApp(config);

        function startchat(username) {
            // Log the user in via Twitter
            firebase.auth().createUserWithEmailAndPassword(email=username+'@xyz.com', password='password').catch(function(error) {
                firebase.auth().signInWithEmailAndPassword(email=username+'@xyz.com', password='password').catch(function(error) {
                  // Handle Errors here.
                  var errorCode = error.code;
                  var errorMessage = error.message;
                  // ...
                });
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;
              // ...
            });
                        // var provider = new firebase.auth.TwitterAuthProvider();
            // firebase.auth().signInWithPopup(provider).catch(function(error) {
            //   console.log("Error authenticating user:", error);
            // });
        }

        firebase.auth().onAuthStateChanged(function(user) {
            // Once authenticated, instantiate Firechat with the logged in user
            if (user) {
                initChat(user);
            }
        });

        function initChat(user) {
            // Get a Firebase Database ref
            console.log("i am here user loggen din");
            var chatRef = firebase.database().ref("chat");

            // Create a Firechat instance
            var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));

            // Set the Firechat user
                console.log(user.email);
                console.log(user);
            chat.setUser(user.uid, user.email);
        }
    </script> -->
</body>

</html>