<!DOCTYPE html>
<html>
<head>
    {% load static %}

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'tcg/style.css' %}"/>

</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
    			</button>
                <div  class="navbar-brand">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                        <i class="fa fa-bars"></i>
                    </a>
    				<a href="{% url 'home_test:home' %}">Cp Helper</a>
                </div>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'home_test:home' %}">Home</a></li>
					<li><a href="{% url 'home_test:home1' %}">Findyourtestcases</a></li>
                    <li class="active"><a href="{% url 'tcg:tcg1' %}">TestCase Generator</a></li>
				</ul>
                
			</div>
            <!--/.nav-collapse -->
		</div>
	</nav>


    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#" onclick="openPage(1, this)" id="defaultOpen">
                        <span class="fa fa-home solo">Numbers</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="#" onclick="openPage(3, this)">
                        <span class="fa fa-anchor solo">Arrays</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="#" onclick="openPage(4, this)">
                        <span class="fa fa-anchor solo">String</span>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="#" onclick="openPage(2, this)">
                        <span class="fa fa-anchor solo">Matrix</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" id="1" style="display: none">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                    Numbers
                            </div>
                            <div class="panel-body">
                                <form method="post" action="/tcg/numbers/">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style="float:center">Submit</button>
<br>
  <a href=/static/tcg/{{ request.user }}/numbers.txt download="numbers.txt">Download</a>

</form>                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="2" style="display: none;">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    Matrix
                            </div>
                            <div class="panel-body">
                                <form method="post" name="Matrix" action="/tcg/matrix/"  >
                                  {% csrf_token %}
                                  {{ form1.as_p }}
  <br>
                              <button type="submit" style="float:center">Submit</button>
                              <a href=/static/tcg/{{ request.user }}/matrix.txt download="matrix.txt">Download</a>
    </form>                     </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="3" style="display: none;">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    Arrays
                            </div>
                            <div class="panel-body">
                                <form method="post" action="/tcg/array/" >
  {% csrf_token %}
  {{ form2.as_p }}
  <br>
  <button type="submit" style="float:center">Submit</button>
  <a href=/static/tcg/{{ request.user }}/array.txt download="array.txt">Download</a>
</form>                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="4" style="display: none;">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    Strings
                            </div>
                            <div class="panel-body">
                                <form method="post" action="/tcg/string/">
  {% csrf_token %}
  {{ form3.as_p }}
  <br>
  <button type="submit" style="float:center">Submit</button>
</form>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openPage(pageName, elmnt) {
    // Hide all elements with class="tabcontent" by default */
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("col-md-12");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Remove the background color of all tablinks/buttons

    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    //elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();












	/*Menu-toggle*/
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
</script>
  </body>
</html>